// COLORS
$white: #fff;
$black: #000;
$gray-light: #d8e1eb;
$gray :#989898;
$primary: #ffbe00;
$secondary: #0076fe;



// text
$text-1:#aeaeae;
$text-2:#7d7d7d;


// variants
$variant-1:#999999;
$variant-2:#0076fe;
$variant-3:#8bab95;
$variant-4:#f48483;
$variant-5:#333333;


// languages colors
$color-javascript:#ffbe00;
$color-php:#38c8be;
$color-java:#5db966;
$color-paython:#8159b1;


$transparent-white: rgba(255, 255, 255, 0.2);
