.footer-container {
    display: flex;
    flex-direction: column;
  
    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        background:$secondary;
        min-height: 9rem;;
        & > div {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            gap:2rem;
        }  
    }

    &__content{
        color:#fff;
        display: flex;
        font-size:1rem;
        
    }

    &__content-row {
        display: flex;
        flex-direction: column;
        & > div {
            padding:.2rem;
        }
        & > * {
            transition:.3s;
        }
        & > *:hover {
           display:block;
            transform: scale(1.05);
            

        }
    }


    &__copyright {
        background:$variant-5;
        text-align: center;
        padding:1.5rem;
        color:$text-2;
        font-size:0.58em;
        font-weight: 700;
    }
}