.header-container {
    background: #333333;
    height:74px;
    color:#fff;
    &__wrapper {
        height:inherit;
        display: flex;
      
        align-items: center;
     & input  {
        padding-left:4.2rem !important;
      
        &:focus{
           
        }
          
        &:focus  + i{
          color:rgba($secondary, .6);
        }
     }
      



     & input, & select{
         padding:1.12rem;
         font-size:1.2em
     }
    & .wrapper__logo{
        position:absolute;
        left:-3rem;
        top:50%;
        transform:translate(-50%,-50%);
        width:200px;
    }

    @media only screen and (max-width: 1650px) {
        & .wrapper__logo{
            left:17rem;
        }
    }
    & .wrapper__login{
        position:absolute;
        right:-30rem;
        top:50%;
        transform:translate(-50%,-50%);
        display: flex;
        gap:2.6rem;
         & .button {
            min-width: 8rem !important;
        }
    }

    @media only screen and (max-width: 1650px) {
        & .wrapper__login{
            right:-6rem;
        }
    }
    
    }

    &__search-container {
        width:536px;
        display:flex;
       
      
        position: relative;
        & .fa-search {
            transition:1s;
            position:absolute;
            top:49%;
            color:rgba($gray, .4);
            left:2.2rem;
            transform:translate(-50%,-50%);
            font-size:2.6rem;

        }
        
    }

    @media only screen and (max-width: 1650px) {
        &__search-container { 
            width:46rem;
        }
    }
}



