.header-container {
    background: #333333;
    height:94px;
    color:#fff;
    &__wrapper {
        height:inherit;
        display: flex;
        justify-content: center;
        align-items: center;
     & input  {
        padding-left:2.8rem !important;
        &:focus{
            width:100%;
            
        }
          
        &:focus  + i{
          color:rgba($secondary, .6);
            
        }

        }
      
     & input, & select{
         padding:.9rem;
     }
    & .wrapper__logo{
        position:absolute;
        left:-3rem;
        top:50%;
        transform:translate(-50%,-50%);
    }

    @media only screen and (max-width: 1650px) {
        & .wrapper__logo{
            left:9rem;
        }
    }
    & .wrapper__login{
        position:absolute;
        right:-22rem;
        top:50%;
        transform:translate(-50%,-50%);
        display: flex;
        gap:.6rem;
         & .button {
            min-width: 8rem !important;
        }
    }

    @media only screen and (max-width: 1650px) {
        & .wrapper__login{
            right:-6rem;
        }
    }
    
    }

    &__search-container {
        width:40rem;
        display:flex;
        justify-content: center;
        position: relative;
        & .fa-search {
            transition:1s;
            position:absolute;
            top:49%;
            color:rgba($gray, .4);
            left:1.5rem;
            transform:translate(-50%,-50%);
            

        }
        
    }

    @media only screen and (max-width: 1650px) {
        &__search-container { 
            width:18rem;
        }
    }
}



