.accordion-menu {
  width: 1000px;

  padding: 2rem 0;
  transition: all 0.5s;
  &__item-container {
    border-bottom: 1px solid $gray-light;
    transition: all 0.5s;
    &:hover {
      border-width: 5px;
      transition: all 0.5s;
    }
  }

  &__item {
    font-family: 'DM Sans', sans-serif !important;
    padding: 2.5rem;
    color: $color-dark;
    font-size: 18px;
    font-weight: 700;
    // border-bottom: 1px solid $gray-light;

    cursor: pointer;
  }

  &--item-open {
    display: block;
  }

  &--item-close {
    opacity: 0;
  }

  &__box {
    display: flex;
    gap: 1rem;
    & > div:first-child {
      flex-grow: 1;
    }
  }

  &__item:first-child {
    border-top: 1px solid $gray-light;
  }

  &__content {
    padding: 1rem 0 2rem 2rem;
    font-size: 16px;
    width: 850px;
    font-family: 'DM Sans', sans-serif;
  }
}
